{
	"plugins": [
		"import"
	],
	"extends": [
		"@remotion",
		"plugin:prettier/recommended",
		"plugin:import/recommended"
	],
	"env": {
		"node": true
	},
	"rules": {
		"capitalized-comments": "off",
		"@typescript-eslint/no-unused-vars": "warn",
		"no-empty-pattern": "warn",
		"@typescript-eslint/ban-types": "warn",
		"@typescript-eslint/no-namespace": "off",
		"no-redeclare": "off",
		"prettier/prettier": "warn",
		"react/no-unused-prop-types": "warn",
		"import/no-unresolved": "off",
		"import/order": [
			"warn",
			{
				"groups": [
					"builtin",
					"external",
					"index",
					"parent",
					"sibling",
					"internal",
					"object",
					"type"
				],
				"pathGroups": [
					{
            "pattern": "@emotion/react",
            "group": "builtin",
            "position": "before"
          },
					{
            "pattern": "react*",
            "group": "external",
            "position": "before"
          },
					{
						"pattern": "{remotion,@remotion/**}",
						"group": "external",
						"position": "after"
					},
					{
						"pattern": "@/**",
						"group": "external",
						"position": "after"
					}
				],
				"pathGroupsExcludedImportTypes": [],
				"distinctGroup": true,
				"newlines-between": "always",
				"alphabetize": {
					"order": "asc"
				}
			}
		],
		"camelcase": "off",
		"no-console": "warn"
	}
}